{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@root": "./src",
          "@queue": "./src/queue",
          "@consumer": "./src/consumer",
          "@models": "./src/models",
          "@services": "./src/services"
        }
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
